In [ ]:
import os
import glob 
import cv2 as cv
import numpy as np

In [ ]:
cd drive/MyDrive/Global\ AI\ Hub\ -\ 36.\ Grup

/content/drive/MyDrive

In [ ]:

count=0

def load_img():
    global count
    data=[]
    main_data = []
    labels = []
    im_folders=os.listdir()
    im_folders=im_folders[1:]
    im_folders=sorted(im_folders)
    print(im_folders)
    
    for im_folder in im_folders:
      if (im_folder.find("zip") ==-1) and (im_folder.find("py") ==-1)  :
          temp=0
          for img in os.listdir(im_folder):
              path_new = im_folder+"/"+img
              img = cv.imread(path_new,0)
              scale_percent =40

              width = int(img.shape[1] * scale_percent / 100)
              height = int(img.shape[0] * scale_percent / 100)
              dim = (width, height)

                
              resized = cv.resize(img, dim, interpolation = cv.INTER_AREA)
              data.append([resized,int(im_folder)])
              main_data.append(resized)
              labels.append(int(im_folder))
              cv.imwrite("path_to_save"+str(count)+"/"+"img_{}.png".format(temp),resized)
              temp+=1
          count+=1
    return data, dim, main_data, labels

datas, dim, maindata, labels = load_img()

['0', '0.zip', '1', '2', '2.zip', '3', '3.zip', '4', '4.zip', '5', '5.zip', '6', '6.zip', '7', '7.zip', '8', '8.zip', '9', '9.zip', 'bootcamp.py']

In [ ]:
len(datas)

8732

In [ ]:
dim

(80, 59)

In [ ]:
datas[1000]

[array([[201,   0,   0, ...,   0,   0,   0],
        [202,   0,   0, ...,   0,   0,   0],
        [202,   0,   0, ...,   0,   0,   0],
        ...,
        [214,  88,  99, ..., 145, 139, 121],
        [210,  70,  92, ..., 147, 172, 155],
        [236, 168, 170, ..., 177, 180, 175]], dtype=uint8), 1]

In [ ]:
#%70 train %20 val %10 test
#train
print("train size = ", int(8732*70/100))
#val
print("val size = ", int(8732*20/100))
#test
print("test size = ", int(8732*10/100)+1)

train size =  6112
val size =  1746
test size =  874

In [ ]:
import random
test_indexleri = []
val_indexleri = []
i = 0
while i < 874:
  rand_num = random.randint(0,len(datas)-1)
  if rand_num not in test_indexleri:
    test_indexleri.append(rand_num)
    i+=1


i = 0 
while i < 1746:
  rand_num = random.randint(0,len(datas)-1)
  if (rand_num not in test_indexleri) and (rand_num not in val_indexleri):
    val_indexleri.append(rand_num)
    i+=1

In [ ]:
# B şıkkı
trainlist = []
testlist = []
vallist = []

data2 = datas.copy()

for idx in test_indexleri:
  testlist.append(data2[idx-1])

for idx in val_indexleri:
  vallist.append(data2[idx-1])


removed_idx=0
for idx in test_indexleri:
  data2.pop(idx-removed_idx-1)
  removed_idx+=1


for idx in val_indexleri:
  data2.pop(idx-removed_idx-1)
  removed_idx +=1

for data in data2:
  trainlist.append(data)

In [ ]:
# C şıkkı
X_train, y_train, X_test, y_test, X_val, y_val = [], [], [], [], [], []
data2 = maindata.copy()
labels2 = labels.copy()

for idx in test_indexleri:
  X_test.append(data2[idx-1])
  y_test.append(labels2[idx-1])

for idx in val_indexleri:
  X_val.append(data2[idx-1])
  y_val.append(labels2[idx-1])


removed_idx=0
for idx in test_indexleri:
  data2.pop(idx-removed_idx-1)
  labels2.pop(idx-removed_idx-1)

  removed_idx+=1


for idx in val_indexleri:
  data2.pop(idx-removed_idx-1)
  labels2.pop(idx-removed_idx-1)
  removed_idx +=1

for data in data2:
  X_train.append(data)

for lab in labels2:
  y_train.append(lab)

In [ ]:
print(len(X_train), len(y_train), len(X_val), len(y_val), len(X_test), len(y_test))

6112 6112 1746 1746 874 874

In [ ]:
import pandas as pd

In [ ]:
val_data = pd.DataFrame(vallist, columns=["img", "label"])
test_data = pd.DataFrame(testlist, columns=["img", "label"])
train_data = pd.DataFrame(trainlist, columns=["img", "label"])

In [ ]:
val_data.to_csv("val_data.csv", index=False)

In [ ]:
test_data.to_csv("test_data.csv", index=False)
train_data.to_csv("train_data.csv", index=False)

In [ ]:
val_data

                                                    img  label
0     [[201, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 5, 5, ...      6
1     [[201, 1, 0, 3, 0, 1, 1, 2, 4, 0, 6, 0, 3, 1, ...      7
2     [[201, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...      9
3     [[201, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...      0
4     [[201, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...      9
...                                                 ...    ...
1741  [[201, 0, 0, 0, 0, 0, 0, 1, 1, 1, 6, 8, 5, 4, ...      7
1742  [[201, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...      3
1743  [[201, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...      8
1744  [[201, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...      8
1745  [[201, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...      9

[1746 rows x 2 columns]